/* DEFAULT TASK */

.task {
  /* background-color: var(--green-100); */
  color: var(--green-700);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  background: linear-gradient(in oklab, var(--neutral-200), var(--green-100));
  gap: var(--sp-02);
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  padding-inline: var(--sp-01);
  padding-block: 0.5rem;
  border-radius: var(--br-lg);
  border: 1px solid var(--green-600);
  box-shadow: inset 1px 1px 5px oklch(from var(--green-700) l c h / 0.15);
}

.timeContainer {
  display: flex;
  /* width: 5rem; */
  gap: var(--sp-01);
  border-right: 1px solid var(--neutral-400);
}

.taskTime {
}

/* SELECTED TASK */

.selectedTask {
  background: linear-gradient(
    45deg in oklab,
    var(--green-500),
    var(--green-400)
  );
  color: var(--green-100);
  font-weight: var(--font-weight-black);
  border: 1px solid var(--green-500);
  box-shadow:
    inset 0 1px 0 oklch(from var(--highlight-green-300) l c h / 0.45),
    inset 0 -1px 0 oklch(from var(--green-700) l c h / 0.45);
  /* box-shadow:
    0 0 12px oklch(from var(--highlight-green-300) l c h / 0.15),
    0 0 4px oklch(from var(--highlight-green-300) l c h / 0.15); */
}

.selectedTimeContainer {
  border-right: 2px solid var(--green-300);
}

/* RUNNING TASK */
