.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.moduleWrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-y: auto;
}

.addTaskButton {
  background-color: transparent;
  align-self: center;
}

.addTaskButton img {
  width: 4.5rem;
}
