.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.moduleWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.addTaskButton {
  background-color: transparent;
  align-self: center;
}

.addTaskButton img {
  width: 4.5rem;
}
