.container {
  grid-area: timer;
  place-self: start;
  position: relative;
  /* z-index: 10; */
  margin-left: calc(50% - 35px);
  margin-top: 67%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
