.container {
  grid-area: timer;
  place-self: start;
  width: 100%;
  height: 100%;
  position: relative;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 67%;
  left: 43.5%;
  width: 13%;
}

.button img {
  width: 100%;
  height: auto;
}
