/* hero section */
.container {
  display: grid;
  background: linear-gradient(
    to top,
    oklch(92.852% 0.11207 195.449),
    oklch(76.658% 0.14238 233.664)
  );
}

.heroTextContainer {
  min-height: clamp(10rem, 20vh, 30rem);
  place-content: center;
}

.counterContainer {
  display: grid;
  /* place-content: center; */
}

.backgroundIllo {
  width: 100%;
  grid-area: 1 / 1;
  pointer-events: none;
}

.backgroundIllo img {
  width: 100%;
  display: block;
}

.haniwa {
}

.innerCounterContainer {
  display: grid;
  grid-area: 1 / 1;
  align-content: end;
  z-index: 2;
}

.heroText {
  font-size: clamp(1rem, 8vw, 3rem);
  color: white;
  text-align: center;
}
.heroTime {
  grid-area: 1 /1;
  place-content: center;
  font-size: 2rem;
  color: white;
  text-align: center;
}
