/* hero section */
.container {
  background-color: hsl(285, 7%, 12%);
  display: grid;
}

.heroText {
  font-size: clamp(1rem, 12vw, 5rem);
  color: white;
  text-align: center;
}
.heroTime {
  font-size: 2rem;
  color: white;
  text-align: center;
}
