body {
  font-family: var(--font-body); /* Geist everywhere by default */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display); /* Playfair for headings */
}

input:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

body {
  background-color: #223d2d;
}
