:root {
  /* Green scale */
  --green-100: oklch(1 0.01 120);
  --green-200: oklch(0.94 0.08 126);
  --green-300: oklch(0.84 0.14 133);
  --green-400: oklch(0.72 0.2 134);
  --green-500: oklch(0.58 0.11 150);
  --green-600: oklch(0.47 0.07 147);
  --green-700: oklch(0.3 0.02 165);

  /* Neutrals */
  --neutral-white: oklch(0.98 0 90);
  --neutral-200: oklch(0.96 0.007 248);
  --neutral-300: oklch(88.925% 0.01178 162.482);
  --neutral-400: oklch(74.93% 0.01514 180.875);
  --neutral-500: oklch(59.706% 0.00847 187.189);
  --neutral-600: oklch(49.703% 0.00378 197.86);
  --neutral-black: oklch(23.36% 0.0096 145.388);

  /* Highlight yellow */
  --highlight-yellow-300: oklch(0.91 0.19 100);
  --highlight-yellow-400: oklch(0.85 0.17 85);

  /* Highlight green */
  --highlight-green-300: oklch(0.92 0.21 122);
  --highlight-green-400: oklch(0.88 0.23 130);

  /* Highlight red */
  --highlight-red-300: oklch(74.214% 0.15909 35.017);
  --highlight-red-400: oklch(65.124% 0.20217 38.289);

  /* Typography */
  --font-family-base: 'Aleo', serif;

  --font-size-sm: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Spacing */
  --sp-005: 0.25rem;
  --sp-01: 0.5rem; /* 8px */
  --sp-02: 0.75rem; /* 12px */
  --sp-03: 1rem; /* 16px */
  --sp-04: 1.5rem; /* 24px */
  --sp-05: 2rem; /* 32px */
  --sp-06: 3rem; /* 48px */

  /* Border radius */
  --br-sm: 0.5rem; /* 8px */
  --br-md: 1rem; /* 16px */
  --br-lg: 1.5rem; /* 24px */
  --br-circle: 50%;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--green-700);
}

input:focus-visible {
  outline: 1px solid var(--color-highlight-green-300);
  outline-offset: 2px;
}
