.container {
  display: flex;
  flex-direction: column;
  /* margin-inline: 1rem; */
  padding-inline: var(--sp-04);
  padding-block: 3rem;
  gap: var(--sp-06);
  background: url('/kofun-pattern-neutral-10.svg'), none;
  background-color: var(--neutral-black);
  background-size: 15%;
  border-top: 2px solid var(--green-600);
  border-radius: 1rem 1rem 0 0;
}

.title {
  font-size: var(--font-size-lg);
  color: var(--green-100);
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitButton {
  color: var(--green-100);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-black);
  background-color: var(--green-400);
  padding-block: 1rem;
  padding-inline: 1rem;
  margin-inline: 3rem;
  border-radius: 1rem;
  box-shadow: inset 0 2px 0 var(--green-300);
}

/* enter text */
.textInput {
  color: var(--green-700);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  background-color: var(--green-100);
  box-shadow: inset 0 0 6px var(--highlight-green-300);
  border: 2px solid var(--green-500);
  padding-block: var(--sp-04);
  padding-inline: var(--sp-03);
  border-radius: var(--br-md);
  line-height: 1;
  transition:
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}
.textInput:focus {
  box-shadow: inset 0 0 14px var(--highlight-green-300);
}

input::placeholder {
  color: var(--neutral-400);
  text-align: center;
  font-size: var(--font-size-md);
}

/* enter time */
.timeField {
  display: flex;
  flex-direction: column;
  gap: var(--sp-04);
  /* background-color: var(--green-700); */
  background: linear-gradient(var(--neutral-black), var(--green-700));
  padding: var(--sp-05);
  border-radius: var(--br-lg);
  border: 1px solid var(--green-600);
  /* box-shadow: inset 0 -24px 24px var(--green-700); */
}

.timeStepper {
  display: grid;
  grid-template-columns: auto 60% auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.taskTime {
  font-family: var(--font-family-base);
  font-size: 2.5rem;
  font-weight: var(--font-weight-black);
  line-height: 1;
  padding-block-start: 5px;
  color: var(--green-100);
  background-color: transparent;
  text-align: center;
}
.taskTime:disabled {
  -webkit-text-fill-color: var(--green-100);
  opacity: 1;
}

.taskTimeButton {
  background-color: var(--green-100);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  width: 2.4rem;
  aspect-ratio: 1;
  padding: var(--sp-01);
  border-radius: var(--br-circle);
  border: 2px solid var(--green-200);
  box-shadow: 0 1px 0 var(--green-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.longTimeText {
  font-size: var(--font-size-md);
  color: var(--green-300);
  text-align: center;
}

.presetButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--sp-02);
  row-gap: var(--sp-03);
}

.presetButton {
  color: var(--green-400);
  background-color: var(--green-100);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  border-radius: var(--br-sm);
  padding-block: var(--sp-01);
  padding-inline: clamp(var(--sp-01), 12vw, var(--sp-02));
  border: 2px solid var(--green-200);
  box-shadow: 0 1px 0 var(--green-300);
}

.resetButton {
  align-self: center;
  font-weight: var(--font-weight-regular);
  color: var(--green-300);
  background-color: transparent;
  padding-block: var(--sp-01);
  padding-inline: var(--sp-03);
  border: 2px solid var(--green-300);
}
