.container {
  grid-area: timer;
  pointer-events: none;
}

/* .container svg {
  width: 100%;
  padding: 5%;
} */

.progressCircle {
  transition: stroke-dashoffset 1s ease-in-out;
}

.backCircle {
  backdrop-filter: blur(10px);
  stroke: oklch(from var(--neutral-500) l c h / 0.45);
}

.selectedBackCircle {
  stroke: oklch(from var(--green-100) l c h / 0.15);
}
