.container {
  grid-area: timer;
  pointer-events: none;
}

.container svg {
  color: rgb(255, 221, 28);
  width: 100%;
  padding: 5%;
}

.progressCircle {
  transition: stroke-dashoffset 1s linear;
}

.backCircle {
  backdrop-filter: blur(10px);
}
